.profile__edit-button {
  grid-area: edit-button;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/pancil.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  align-self: end;
  justify-self: end;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
