.popup__close-button {
  background: none;
  background-image: url('../../../images/Close_Icon.svg');
  background-size: contain;
  background-position: center;
  border: none;
  position: relative;
  top: -40px;
  right: -401px;
  width: 32px;
  height: 32px;
  -webkit-transition: right .5s, top .5s, width .5s;
  -o-transition: right .5s, top .5s, width .5s;
  transition: right .5s, top .5s, width .5s;
}

@media screen and (max-width: 520px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -39px;
    right: -240px;
  }
}
