.form__close-button {
  position: absolute;
  width: 32px;
  right: -40px;
  top: -40px;
  transition: right .5s, top .5s, width .5s;
}

@media screen and (max-width: 520px) {
  .form__close-button {
    width: 20px;
    top: -36px;
    right: 0;
  }
}
