.profile__job {
  grid-area: comment;
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
